@charset "UTF-8";
/* CSS Document */

body {
  background: #fff;
  font-family: 'Roboto Mono', monospace;
  font-weight:400;
  font-size: 20px;
  line-height: 1.4em;
  color: #1b1b1b;
}
.img-responsive {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.bubble {
  position: relative;
  width: 100%;
  height: auto;
  padding: 5px;
  background: #ccc;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}
.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 33px 11px 0;
  border-color: #ccc transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -33px;
  left: 105px;
}
 @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
} /* */
 @media screen and (min-width: 766px) {
body {
  font-size: 22px;
}
header {
  padding: 30px 0;
}
section {
  max-width: 710px;
  margin: 0 auto;
  padding: 0;
}
h1, h2 {
  font-size: 34px;
  letter-spacing: -2px;
}
}
 @media screen and (min-width: 900px) {
h1, h2 {
  font-size: 45px;
  letter-spacing: -2px;
  line-height: 1.1;
}
header {
  padding: 30px 0;
}
section {
  max-width: 820px;
}
.left {
  float: left;
  max-width: 300px;
}
.right {
  float: right;
  max-width: 480px;
}
}
 @media screen and (min-width: 1200px) {
section {
  max-width: 1150px;
}
.left {
  float: left;
  max-width: 450px;
}
.right {
  float: right;
  max-width: 650px;
}
}
