<div class="h-screen brightness pl-1 w-full absolute z-10 pin bg-cover bg-center" style="background: url('/assets/brutal/glitchy-justin.jpg')">
    <h1 class="m-0">Camera 404:</h1>
    <span class="cli text-lg uppercase"></span>
    <a href="/" class="blink absolute pin-l pin-b plain text-lg text-yellow uppercase hover:text-white no-underline p-1">< Go Home</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
<script>
var options = {
    typeSpeed: 20,
    strings: [
        "Running Diagnostic^500",
        "Signal Acquired^500",
        "Initializing Image Analysis via Neural Network^1250",
        "Running Convolution Algorithm^750.^750.^750.^750",
        "Enhancing^500.^500.^500.^500",
        "Image Recognized^250",
        "<b>Subject Indentified</b>:^250 Justin Jackson<br>^750<b>Behavior Classified</b>:^750 Digging for missing content<br>^1000<b>Recommended Action</b>:^750 <a href='/' class='plain text-yellow hover:text-white no-underline'>Avert your eyes</a>",
  ]
}
var typed = new Typed(".cli", options);
</script>
